#Ignore python byte code, including all the pycache directories
__pycache__/
*.pyc

*.log
*.tmp
*.swp
*.tex

#other directories / output
.vscode/
mlartifacts/
mlruns/
outputs/
multirun/

#old files / experiments
scripts/old_train_dml_rnn.pyc
scripts/old_train_dml.py
scripts/old_train_dml_rnn.py
scripts/in_place.py
scripts/eval_de_dmlrnn.py
scripts/eval_treatment_effect.py
scripts/discussion.tex

#temp files
draft.tex

